<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="navbar(siteName, activePage)">
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-menu">
                <a th:href="@{/}" class="nav-link" th:classappend="${activePage == 'inicio'} ? 'active' : ''">
                    <i class="fas fa-home"></i>
                    <span>Inicio</span>
                </a>
                <a th:href="@{/agregarActividad}" class="nav-link" th:classappend="${activePage == 'Agregar actividad'} ? 'active' : ''">
                    <i class="fas fa-calendar"></i>
                    <span>Agregar actividad</span>
                </a>
                <a th:href="@{/finishedActivity}" class="nav-link" th:classappend="${activePage == 'valorar'} ? 'active' : ''">
                    <i class="fas fa-star"></i>
                    <span>Valorar</span>
                </a>
                <a th:href="@{http://localhost:5000/}" class="nav-link">
                    <i class="fab fa-python"></i> Flask APP
                </a>
            </div>
        </div>
    </nav>
</th:block>

</html>