{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index-styles.css') }}">
{% endblock %}

{% block navbar_title %}Actividades recreativas de Chile{% endblock %}

{% block content %}
<div class="margin-top-50">
    <h2>Últimas actividades registradas:</h2>
</div>
<div class="margin-top-50">
    {% if data %}
        <table>
            <thead>
                <tr>
                    <th class="label-col">Inicio</th>
                    <th class="label-col">Término</th>
                    <th class="label-col">Comuna</th>
                    <th class="label-col">Sector</th>
                    <th class="label-col">Tema</th>
                    <th class="label-col">Imagen</th>
                </tr>
            </thead>
            <tbody>
            {% for actividad in data %}
                <tr>
                    <td>{{ actividad.inicio }}</td>
                    <td>{{ actividad.termino }}</td>
                    <td>{{ actividad.comuna }}</td>
                    <td>{{ actividad.sector }}</td>
                    <td>{{ actividad.tema }}</td>
                    <td class="col-img">
                        {% for img in actividad.imagen %}
                            <img src="{{ url_for('static', filename=img) }}" alt="Imagen de la actividad">
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay actividades registradas.</p>
    {% endif %}
</div>
{% endblock %}