<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/head :: head('Estadisticas de Actividades', ${ {'global.css', 'navbar.css', 'form-styles.css', 'stats-styles.css'} }, null)}"></th:block>
<body>
<div th:replace="~{fragments/navbar :: navbar('Actividades Recreativas', 'estadisticas')}"></div>

    <div class="content-wrapper">
        <main class="main-content">
            <h1>
                <i class="fas fa-chart-line"></i>
                Estadísticas de Actividades
            </h1>

            <div class="grafico-container" id="lineChartContainer">
                <h2>Cantidad de Actividades por Día</h2>
                <canvas id="lineChart"></canvas>
            </div>

            <div class="grafico-container" id="pieChartContainer">
                <h2>Total de Actividades por Tipo</h2>
                <canvas id="pieChart"></canvas>
            </div>

            <div class="grafico-container" id="barChartContainer">
                <h2>Cantidad de Actividades por Mes y Horario</h2>
                <canvas id="barChart"></canvas>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/stats.js}"></script>
</body>
</html>